<h1>Dashboard</h1>
<div><h2>Net Calories: <%= @calories %></h2></div>
<div><h2>Most Common Exercise: <%= @most_common %></h2></div>
<div><h2>You Burned <%= @most_burned %> Calories <%= @most_common %></h2></div>


<%= link_to 'Exercise Tracker', exercises_path %> |
<%= link_to 'Calorie Tracker', consumed_cals_path %> |
<%= link_to 'Steps Tracker', steps_path %> |
<%= link_to 'Weight Tracker', weights_path %> |
<%= link_to 'Exercise Types', exercise_types_path %>
