<h1>Dashboard</h1>
<div><h2>Net Calories: <%= @calories %></h2></div>
<div><h3>Most Common Exercise: <%= @most_common %></h3></div>
<div><h3>You Burned <%= @most_burned %> Calories <%= @most_common %></h3></div>
<div><h3>Miles Walked Today: <%= @miles_walked %></h3></div>

<table>
  <thead>
    <tr>
      <th>Calories Consumed</th>
      <td> <%= @consumed_today %> </td>
      <td> <%= link_to 'New', new_consumed_cal_path %> </td>
    </tr>
    <tr>
      <th>Steps</th>
      <td> <%= @steps_today %> </td>
      <td> <%= link_to 'New', new_step_path %> </td>
    </tr>
    <tr>
      <th>Exercise</th>
      <td> <%= @calories_burned_today %> </td>
      <td> <%= link_to 'New', new_exercise_path %> </td>
    </tr>
    <tr>
    <th>Weight</th>
    <td> <%= @weight_today %> </td>
    <td> <%= link_to 'New', new_weight_path %> </td>
    </tr>
  </thead>

  <tbody>
      <tr>



      </tr>
  </tbody>
</table>



<%= link_to 'Exercise Tracker', exercises_path %> |
<%= link_to 'Calorie Tracker', consumed_cals_path %> |
<%= link_to 'Steps Tracker', steps_path %> |
<%= link_to 'Weight Tracker', weights_path %> |
<%= link_to 'Exercise Types', exercise_types_path %>
