<%= form_for(@exercise_type) do |f| %>
  <% if @exercise_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_type.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
