<p id="notice"><%= notice %></p>

<p>
  <strong>Steps:</strong>
  <%= @step.steps %>
</p>

<p>
  <strong>Stepped on:</strong>
  <%= @step.stepped_on %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
